<!-- Default form login -->
<div class="container">
<form class="form" #userLogin="ngForm" (ngSubmit)="registerUser()">

    <p class="h4 mb-4">Register</p>

    <!-- Email -->
    <small class="text-danger" [class.d-none]="email.valid || email.touched">Enter a valid email</small>
    <input type="text" [(ngModel)]="registeredUser.email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" id="defaultLoginFormEmail" class="form-control mb-4" name="email" placeholder="Username" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required >
    
    <!-- Password -->
    <small class="text-danger" [class.d-none]="password.valid || password.touched">Enter a valid password</small>
    <input type="password" [(ngModel)]="registeredUser.password"  #password="ngModel" [class.is-invalid]="password.invalid && password.touched"id="defaultLoginFormPassword" class="form-control mb-4" name="password" placeholder="Password" minlength="6" required>

   

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" [disabled]="userLogin.form.invalid" type="submit">Register</button>

  
   
</form>
<!-- Default form login -->
</div>

